opensource code.txt
[{"id":"95baf501.556b28","type":"function","z":"45f6c5f6.465208","name":"Read Sensor Data","func":"var payload = {\n    sensor1: 30,\n    sensor2: 20,\n    sensor3: 40\n};\n\nreturn { payload: payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["a19f0dd8.2a36f8"]]},{"id":"a19f0dd8.2a36f8","type":"json","z":"45f6c5f6.465208","name":"","property":"payload","action":"","pretty":false,"x":440,"y":240,"wires":[["f579cbb9.f2239"]]},{"id":"f579cbb9.f2239","type":"mqtt out","z":"45f6c5f6.465208","name":"","topic":"sensors","qos":"0","retain":"","broker":"ec8c39fb.798e38","x":600,"y":240,"wires":[]},{"id":"ec8c39fb.798e38","type":"mqtt-broker","name":"Test Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
